html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	color: #000;
	text-decoration: none;
}
h1, h2,h3,h4,h5,p,a{
	
}
.wrap{
	width: 75%;
	margin: 0 auto;
}


body{
	position: relative;
	transition: .5s;
	font-family: sans-serif;
}
h1{
	font-size: 30px;
	font-weight: 600;
}
header{
	position: relative;
	background: url('img/headerBackground.jpg');
}
.titleSite{
	background: linear-gradient(to top, transparent 20%, rgba(0, 0, 0, .5) 70%);
}
.titleBlock{
	padding: 2% 0;
	display: inline-block;
	width: 45%;
}
.logo a{
	text-transform: uppercase;
	color: #5a5a5a;
	font-weight: 900;
}
.number{
	float: right;
	text-align: right;
}
.number a{
	color: #fff;
	display: block;
}
#call{
	color: #d91233;
	text-decoration: underline;
}


.headerContentTitle{
	padding-top: 7%;
	text-align: center;
	color: #fff;
}
.headerContentTitle h1{
	font-size: 48px;
	display: inline-block;
	width: 100%
}
.headerContentTitle p{
	font-size: 24px;
	margin-bottom: 5%;
}


.ourOffer{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 7%;
}
.headerContBlock{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	color: #fff;
	width: 15%;
	text-align: center;
	margin-right: 30px;
}
.headerContBlock a{
	width: 40px;
	height: 40px;
	display: inline-block;
	text-align: center;
	margin-bottom: 15px;
}
.headerContBlock a img{
	width: 100%;
}






.popupBlock{

}
.thanksBlock{
	width: 350px;
	height: 150px;
	color: #000;
	background: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: -1;
	top: 38%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: .5s;
}
.callbackOrder{
	width: 350px;
	min-height: 320px;
	color: #000;
	background: #fff;
	text-align: center;
	display: flex;
	padding-top:10px;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: -1;
	top: 38%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: .5s;
}
.callbackOrder input{
	height: 30px;
	line-height: 30px;
	padding-left: 5px;
	border-radius: 5px;
	border: 2px solid #999;
}


.showfastPopup{
	width: 350px;
	min-height: 300px;
	color: #000;
	background: #fff;
	text-align: center;
	display: flex;
	padding-top:10px;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: -1;
	top: 38%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: .5s;
}
.showfastPopup input{
	height: 30px;
	line-height: 30px;
	padding-left: 5px;
	border-radius: 5px;
	border: 2px solid #999;
}





.active{

	opacity: 1;
	z-index: 2;
	transform: translate(-50%, -30%);
}
.scroll{
	overflow-y:hidden;

}
body.scroll::after{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	filter: blur(3px);
	height: 100%;
	background: rgba(255, 255, 255, .1);
}





.thanksBlock h1{
	font-size: 24px;
	padding-bottom: 10px;
}
.closeBtn{
	width: 25px;
	height: 25px;
	display: block;
	position: absolute;
	top: 0;
	right: -32px;
	cursor: pointer;
}
.closeBtn:before, .closeBtn:after{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 4px;
	display: block;
	background: #d91233;	
}
.closeBtn:before{
	transform: translate(-50%, -50%) rotateZ(-45deg);
}
.closeBtn:after{
	transform: translate(-50%, -50%) rotateZ(45deg);
}





.offersBtn{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	text-align: center;
	padding-bottom: 7%;
}
.headerBtn{
	width: 25%;
}
.headerBtn a{
	display: inline-block;
	width: 150px;
	height: 35px;
	color: #fff;
	line-height: 35px;
	margin-bottom: 20px;
	border: 2px solid #d91233;
	border-radius: 35px;
	transition: .5s;
}
.headerBtn a:hover{
	background: #d91233;
}
.headerBtn p{
	font-size: 12px;
	width: 45%;
	display: inline-block;	
}


main{
	margin-top: 25px;
}
.infoBlock{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-height: 65vh;
	padding-bottom: 3%;
}
.infoBlock > *{
	display: inline-block;
	width: 30%;
	text-align: center;
}
.interactiveBlock h3{
	font-size: 18px;
	font-weight: 600;
	margin: 20px 0 15px 0;
}
.interactiveBlock p{
	font-size: 14px;
	width: 70%;
	display: inline-block;
}


.detailedApplic{
	background: #ebebeb;
	padding-bottom: 5%;
}

.detailedApplic > p, h1{
	text-align: center;
}
.detailedApplic > h1{
	font-size: 30px;
	font-weight: 600;
	padding: 5% 0 1% 0;
}
.detailedApplic > p{
	font-weight: 500;
	padding: 1% 0 5% 0;
}
.appForm{
	padding: 40px;
	border: 4px solid #fff;
	display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 240px;
  max-height: 300px;
}
.appForm >*{
	font-weight: 600;
	font-size: 16px;
	display: flex;
	justify-content: center;
	width: 20%;
	flex-flow: column;
}
.appForm input{
	display: block;
	width: 100%;
	margin: 15px 0 30px 0;
	height: 24px;
	padding-left: 5px;
}
.appForm textarea{
	display: block;
	padding: 5px;
	height: 110px;
	margin: 15px 0 30px 0;
}
.appForm .e-mail input{
	margin: 15px 0 45px 0;
}
.btn{
	display: inline-block;
	width: 200px;
	height: 45px;
	line-height: 45px;
	margin-bottom: 20px;
	background: #d91233;
	color: #fff;
	border: 2px solid #d91233;
	border-radius: 35px;
	transition: .5s;
	text-align: center;
	text-transform: capitalize;
	font-weight: 600;
	transition: .5s;
}
.appForm .btn:hover{
	background: #fff;
	color: #d91233;
}



.availableParts{
	display: flex;
	justify-content: center;
	flex-flow: column;
	align-items: center;
	padding-bottom: 5%;
}
.availableParts h1{
	margin: 7% 0 5% 0;
}
.brandsBlock{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: row wrap;
	width: 80%;
}
.brandsBlock a img{
	filter: grayscale(1) blur(1px);
	transition: .3s;
}
.brandsBlock a:hover img{
	filter: grayscale(0) blur(0);
}




.liveVideo{
	min-height: 250px; 
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding: 5% 0;
}
.liveVideo h1{
	font-size: 30px;
	font-weight: 600;
	padding-bottom: 25px;
}
.liveVideo iframe{
	width: 600px;
	height: 300px;
	padding: 15px;
	border: 4px solid #f2f2f2
}




.feedback{
	min-height: 300px;
	max-height: 500px;
	background: #ebebeb;
	padding: 5%;
}
.feedback h1{
	font-size: 30px;
	font-weight: 600;
	margin: 40px;
}
.clients{
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: row wrap;
}
.clientComment{
	margin-top: 5%;
	width: 50%;
}
.clientComment> *{
	margin-right: 10px;
}
.clientComment p{
	font-size: 14px;
	margin-bottom: 7px;
}
.clientComment h2{
	font-size: 17px;
	margin-bottom: 7px;
	color: #d91233;
}
.clientComment p span{
	color: #757575;
	font-size: 10px
}
.clientComment a{
	float: left;
	width: 130px;
	height: 130px;
	display: inline-block;
	overflow: hidden;
	border-radius: 50%;
}
.clientComment a img{
	float: left;
	width: 100%;
	height: 100%
}



.consultation{
	background: #dbdbdb;
	padding: 5%;
}
.consultation h1{
	margin: 20px 0;
	font-size: 30px;
	font-weight: 600;
}
.consultation > p{
	font-size: 14px;
	text-align: center;
	margin-bottom: 30px;
}
.consaltBlock{
	border: 4px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	min-height: 250px; 
}
.consaltBlock form{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: column wrap;
}
.consaltBlock label{
	width: 40%;
}
.consaltBlock label input{
	margin: 15px 0;
	border: none;
	padding: 2px 0 2px 7px;
	width: 90%;
	height: 24px;
}
.consaltBlock a{
	margin-top: 25px;
	display: inline-block;
	text-align: center;
}


.contacts{
	position: relative;
}
.subContactBlock{
	height: 50vh;
	position: relative;
	z-index: -1;
}
.map{
	width: 100%;
	height: 100%;
}
.contactInfo{
	width: 320px;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #d91233;
	color: #fff;
	display: flex;
	justify-content: space-around;
	box-sizing: border-box;
	padding: 20px;
	line-height: 25px;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.contactInfo :last-child{
	text-decoration: underline;
}
.contactInfo a{
	color: #fff;
}





footer  .number :first-child{
	color: #000;
}